<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTS SMART LIBRARY</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>logo</h1>
        <h2>UTS<br>E-BOOK<br>LIBRARY</h2>
        <img src="./images/logo.png" alt="logo" class="logo">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="https://arc.uts.edu.my/ebook-try-2/">COLLECTION</a></li>
            <li><a href="https://arc.uts.edu.my/organisational-chart/">ABOUT US</a></li>
            <li><a href="https://arc.uts.edu.my/contact-us-try-2/">CONTACT</a></li>
        </ul>
    </header>
    <main>
        <section class="newsletter">
        <form>
            <input type="title or author" placeholder="search by title or author" required>
            <button type="submit">search</button>
    </form>
</section>
<dic>

<div class="letter">
    <form>
        <input type="title or author" placeholder="MESSAGE LIBRARY SYSTEM..." required>
        <button type="submit">search</button>
    </form>
</section>
</div>
<div class="result">
    <h3>TOP INTERESTING</h3>
    <div class="books">

        <div class="book">
            <a href="">

                <img src="images/control.jpg">
                <p>Think For Yourself:<br>
                    Control Your Life</p>
                </a>
            
        </div>
        <div class="book">
            <a href="">

                
                <img src="images/introduction.jpg">
                <p>An Introduction <br>To The Enneagram</p>
            </a>
        </div>
        <div class="book">
            <a href="">

                <img src="images/time management.jpg">
                <p>Time Management <br>For Creative People</p>
            </a>
    </div>
    <div class="book">
        <a href="">
        <img src="images/power.jpg">
        <p>Power of <br>Self Discipline</p>
        
        </a>
    </div>
</div>
</div>

    </main>
</body>