@{
    ViewData["Title"] = "Home Page";
}
<main>
    <section class="newsletter">
        <div>
            <input type="text" placeholder="search by title or author" required id="search">
            <button onclick="searchByAuthor()" id="news-btn">search</button>
            <button id="aibot">
              <a href="https://app.fastbots.ai/embed/clvx6k30s00dqohbaek7ps13f" target="_blank">
                    Come with our AI Chatbot for more information
              </a>
            </button>
        </div>
    </section>
    <dic>
        <div class="result">
            <h3>TOP INTERESTING</h3>
            <div class="books">

                <div class="book">
                    <a href="">
                        <img src="./img/control.jpg">
                        <p>
                            Think For Yourself:<br>
                            Control Your Life
                        </p>
                    </a>
                </div>

                <div class="book">
                    <a href="">
                        <img src="./img/introduction.jpg">
                        <p>An Introduction <br>To The Enneagram</p>
                    </a>
                </div>

                <div class="book">
                    <a href="">
                        <img src="~/img/time management.jpg">
                        <p>Time Management <br>For Creative People</p>
                    </a>
                </div>

                <div class="book">
                    <a href="">
                        <img src="./img/power.jpg">
                        <p>Power of <br>Self Discipline</p>
                    </a>
                </div>

            </div>
        </div>

</main>